@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@300;400;600;700&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

b {
  font-weight: bold;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li::marker {
  margin-right: 10px;
}

.arial {
  font-family: 'Arial', serif;
  font-weight: 400;
}

.georgia {
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
}

.text_44 {
  font-size: 44px;
  line-height: 57.2px;
}

.text_44five {
  font-size: 44px;
  line-height: 57.2px;
}

@media screen and (max-width: 767px) {
  .text_44five {
    font-size: calc(0.04241 * 100vw + 11.42857px);
    line-height: calc(0.0558 * 100vw + 14.142px);
  }
}

.text_35 {
  font-size: 35px;
  line-height: 45.4px;
}

.text_35five {
  font-size: 35px;
  line-height: 45.4px;
}

@media screen and (max-width: 767px) {
  .text_35five {
    font-size: calc(0.02232 * 100vw + 17.857px);
    line-height: calc(0.0290 * 100vw + 22.71428571px);
  }
}

.text_35sharp {
  font-size: 35px;
  line-height: 45.4px;
}

@media screen and (max-width: 767px) {
  .text_35sharp {
    font-size: 25px;
    line-height: 32px;
  }
}

.text_32 {
  font-size: 32px;
  line-height: 35.2px;
}

.text_20 {
  font-size: 20px;
  line-height: 23px;
}

.text_20five {
  font-size: 20px;
  line-height: 23px;
}

@media screen and (max-width: 767px) {
  .text_20five {
    font-size: calc( 1.11607vw + 11.42857px);
    line-height: calc( 1.33929vw + 12.71429px);
  }
}

.text_20sharp {
  font-size: 20px;
  line-height: 23px;
}

@media screen and (max-width: 767px) {
  .text_20sharp {
    font-size: 15px;
    line-height: 17px;
  }
}

.text_15 {
  font-size: 15px;
  line-height: 16.5px;
}

.text_15high {
  font-size: 15px;
  line-height: 24px;
}

.text_13 {
  font-size: 13px;
  line-height: 15px;
}

.text_12 {
  font-size: 12px;
  line-height: 18px;
}

.text_dark54 {
  color: #545454;
}

.text_dark4c {
  color: #C4C4C4;
}

.text_black {
  color: #000000;
}

.text_grey2b {
  color: #B2B2B2;
}

.text_greyCD {
  color: #CDCDCD;
}

.text_primary {
  color: #F1CDB3;
}

.text_lightFA {
  color: #FAFAFA;
}

.text_lightext {
  color: #FFFFFF;
}

.button {
  font-family: 'Georgia';
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 22.1px;
  border: 2px solid #F1CDB3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F1CDB3;
  border-radius: 100px;
  height: 52px;
  padding: 0 43px;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
  cursor: pointer;
}

.buttonWhite {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.06em;
  border-radius: 100px;
  background-color: #FFFFFF;
  outline: 2px solid #F1CDB3;
  padding: 0 42px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttonWhite:hover {
  background-color: #FDDCC4;
  outline: 2px solid #FDDCC4;
  cursor: pointer;
}

.button-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 52px;
  min-height: 52px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #F1CDB3;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.button-small_hover {
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
}

.button-small_inactive {
  background-color: #CDCDCD;
  color: #B2B2B2;
  border-color: #CDCDCD;
}

.button-small_active {
  background-color: #F1CDB3;
  border-color: #F1CDB3;
}

.circle {
  min-width: 52px;
  min-height: 52px;
  max-width: 52px;
  max-height: 52px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #F1CDB3;
}

.circle:hover {
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
  cursor: pointer;
}

.circle_hover {
  background-color: #F1CDB3;
  cursor: auto;
}

.circle_hover:hover {
  background-color: #F1CDB3;
  border: 2px solid #F1CDB3;
  cursor: auto;
}

.circle_prev {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
}

.circle_prev:hover {
  background-color: unset;
  border: 2px solid #CDCDCD;
  cursor: auto;
}

.arial {
  font-family: 'Arial', serif;
  font-weight: 400;
}

.georgia {
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
}

.text_44 {
  font-size: 44px;
  line-height: 57.2px;
}

.text_44five {
  font-size: 44px;
  line-height: 57.2px;
}

@media screen and (max-width: 767px) {
  .text_44five {
    font-size: calc(0.04241 * 100vw + 11.42857px);
    line-height: calc(0.0558 * 100vw + 14.142px);
  }
}

.text_35 {
  font-size: 35px;
  line-height: 45.4px;
}

.text_35five {
  font-size: 35px;
  line-height: 45.4px;
}

@media screen and (max-width: 767px) {
  .text_35five {
    font-size: calc(0.02232 * 100vw + 17.857px);
    line-height: calc(0.0290 * 100vw + 22.71428571px);
  }
}

.text_35sharp {
  font-size: 35px;
  line-height: 45.4px;
}

@media screen and (max-width: 767px) {
  .text_35sharp {
    font-size: 25px;
    line-height: 32px;
  }
}

.text_32 {
  font-size: 32px;
  line-height: 35.2px;
}

.text_20 {
  font-size: 20px;
  line-height: 23px;
}

.text_20five {
  font-size: 20px;
  line-height: 23px;
}

@media screen and (max-width: 767px) {
  .text_20five {
    font-size: calc( 1.11607vw + 11.42857px);
    line-height: calc( 1.33929vw + 12.71429px);
  }
}

.text_20sharp {
  font-size: 20px;
  line-height: 23px;
}

@media screen and (max-width: 767px) {
  .text_20sharp {
    font-size: 15px;
    line-height: 17px;
  }
}

.text_15 {
  font-size: 15px;
  line-height: 16.5px;
}

.text_15high {
  font-size: 15px;
  line-height: 24px;
}

.text_13 {
  font-size: 13px;
  line-height: 15px;
}

.text_12 {
  font-size: 12px;
  line-height: 18px;
}

.text_dark54 {
  color: #545454;
}

.text_dark4c {
  color: #C4C4C4;
}

.text_black {
  color: #000000;
}

.text_grey2b {
  color: #B2B2B2;
}

.text_greyCD {
  color: #CDCDCD;
}

.text_primary {
  color: #F1CDB3;
}

.text_lightFA {
  color: #FAFAFA;
}

.text_lightext {
  color: #FFFFFF;
}

.arial {
  font-family: 'Arial', serif;
  font-weight: 400;
}

.georgia {
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
}

.text_44 {
  font-size: 44px;
  line-height: 57.2px;
}

.text_44five {
  font-size: 44px;
  line-height: 57.2px;
}

@media screen and (max-width: 767px) {
  .text_44five {
    font-size: calc(0.04241 * 100vw + 11.42857px);
    line-height: calc(0.0558 * 100vw + 14.142px);
  }
}

.text_35 {
  font-size: 35px;
  line-height: 45.4px;
}

.text_35five {
  font-size: 35px;
  line-height: 45.4px;
}

@media screen and (max-width: 767px) {
  .text_35five {
    font-size: calc(0.02232 * 100vw + 17.857px);
    line-height: calc(0.0290 * 100vw + 22.71428571px);
  }
}

.text_35sharp {
  font-size: 35px;
  line-height: 45.4px;
}

@media screen and (max-width: 767px) {
  .text_35sharp {
    font-size: 25px;
    line-height: 32px;
  }
}

.text_32 {
  font-size: 32px;
  line-height: 35.2px;
}

.text_20 {
  font-size: 20px;
  line-height: 23px;
}

.text_20five {
  font-size: 20px;
  line-height: 23px;
}

@media screen and (max-width: 767px) {
  .text_20five {
    font-size: calc( 1.11607vw + 11.42857px);
    line-height: calc( 1.33929vw + 12.71429px);
  }
}

.text_20sharp {
  font-size: 20px;
  line-height: 23px;
}

@media screen and (max-width: 767px) {
  .text_20sharp {
    font-size: 15px;
    line-height: 17px;
  }
}

.text_15 {
  font-size: 15px;
  line-height: 16.5px;
}

.text_15high {
  font-size: 15px;
  line-height: 24px;
}

.text_13 {
  font-size: 13px;
  line-height: 15px;
}

.text_12 {
  font-size: 12px;
  line-height: 18px;
}

.text_dark54 {
  color: #545454;
}

.text_dark4c {
  color: #C4C4C4;
}

.text_black {
  color: #000000;
}

.text_grey2b {
  color: #B2B2B2;
}

.text_greyCD {
  color: #CDCDCD;
}

.text_primary {
  color: #F1CDB3;
}

.text_lightFA {
  color: #FAFAFA;
}

.text_lightext {
  color: #FFFFFF;
}

.arial {
  font-family: 'Arial', serif;
  font-weight: 400;
}

.georgia {
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
}

.text_44 {
  font-size: 44px;
  line-height: 57.2px;
}

.text_44five {
  font-size: 44px;
  line-height: 57.2px;
}

@media screen and (max-width: 767px) {
  .text_44five {
    font-size: calc(0.04241 * 100vw + 11.42857px);
    line-height: calc(0.0558 * 100vw + 14.142px);
  }
}

.text_35 {
  font-size: 35px;
  line-height: 45.4px;
}

.text_35five {
  font-size: 35px;
  line-height: 45.4px;
}

@media screen and (max-width: 767px) {
  .text_35five {
    font-size: calc(0.02232 * 100vw + 17.857px);
    line-height: calc(0.0290 * 100vw + 22.71428571px);
  }
}

.text_35sharp {
  font-size: 35px;
  line-height: 45.4px;
}

@media screen and (max-width: 767px) {
  .text_35sharp {
    font-size: 25px;
    line-height: 32px;
  }
}

.text_32 {
  font-size: 32px;
  line-height: 35.2px;
}

.text_20 {
  font-size: 20px;
  line-height: 23px;
}

.text_20five {
  font-size: 20px;
  line-height: 23px;
}

@media screen and (max-width: 767px) {
  .text_20five {
    font-size: calc( 1.11607vw + 11.42857px);
    line-height: calc( 1.33929vw + 12.71429px);
  }
}

.text_20sharp {
  font-size: 20px;
  line-height: 23px;
}

@media screen and (max-width: 767px) {
  .text_20sharp {
    font-size: 15px;
    line-height: 17px;
  }
}

.text_15 {
  font-size: 15px;
  line-height: 16.5px;
}

.text_15high {
  font-size: 15px;
  line-height: 24px;
}

.text_13 {
  font-size: 13px;
  line-height: 15px;
}

.text_12 {
  font-size: 12px;
  line-height: 18px;
}

.text_dark54 {
  color: #545454;
}

.text_dark4c {
  color: #C4C4C4;
}

.text_black {
  color: #000000;
}

.text_grey2b {
  color: #B2B2B2;
}

.text_greyCD {
  color: #CDCDCD;
}

.text_primary {
  color: #F1CDB3;
}

.text_lightFA {
  color: #FAFAFA;
}

.text_lightext {
  color: #FFFFFF;
}

.button {
  font-family: 'Georgia';
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 22.1px;
  border: 2px solid #F1CDB3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F1CDB3;
  border-radius: 100px;
  height: 52px;
  padding: 0 43px;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
  cursor: pointer;
}

.buttonWhite {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.06em;
  border-radius: 100px;
  background-color: #FFFFFF;
  outline: 2px solid #F1CDB3;
  padding: 0 42px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttonWhite:hover {
  background-color: #FDDCC4;
  outline: 2px solid #FDDCC4;
  cursor: pointer;
}

.button-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 52px;
  min-height: 52px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #F1CDB3;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.button-small_hover {
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
}

.button-small_inactive {
  background-color: #CDCDCD;
  color: #B2B2B2;
  border-color: #CDCDCD;
}

.button-small_active {
  background-color: #F1CDB3;
  border-color: #F1CDB3;
}

.circle {
  min-width: 52px;
  min-height: 52px;
  max-width: 52px;
  max-height: 52px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #F1CDB3;
}

.circle:hover {
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
  cursor: pointer;
}

.circle_hover {
  background-color: #F1CDB3;
  cursor: auto;
}

.circle_hover:hover {
  background-color: #F1CDB3;
  border: 2px solid #F1CDB3;
  cursor: auto;
}

.circle_prev {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
}

.circle_prev:hover {
  background-color: unset;
  border: 2px solid #CDCDCD;
  cursor: auto;
}

.overflow {
  overflow-y: hidden;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 1;
  --width: 100vw;
}

.header__wrapper {
  margin: 0 auto;
  max-width: 1260px;
  padding: 30px;
}

@media screen and (max-width: 767px) {
  .header__wrapper {
    max-width: 1220px;
    padding: 30px 10px 32px 10px;
  }
}

.header__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 57px;
}

.header__h1 {
  color: #545454;
  margin-bottom: 10px;
  letter-spacing: 0.06em;
  -webkit-transform: translate(0px, 2px);
          transform: translate(0px, 2px);
}

.header__logo__text {
  padding-left: 4px;
  color: #292929;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: left;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transform: translate(-1px, 1px);
          transform: translate(-1px, 1px);
  color: #545454;
}

@media screen and (max-width: 767px) {
  .header__links {
    display: none;
  }
}

.header__link {
  font-size: 15px;
  line-height: 160%;
}

.header__link:not(:last-child) {
  padding-left: 1px;
  margin-right: 35px;
}

.header__link:nth-child(2) {
  color: #292929;
  border-bottom: 3px solid #F1CDB3;
  padding-right: 0px;
}

.header__lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__column-left {
  max-width: 460px;
  margin-top: 164px;
}

.header__info-title {
  color: #FFFFFF;
}

.header__info-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  padding: 42px 0;
  padding-bottom: 41px;
  margin-left: -3px;
}

.header__button {
  color: #292929;
  margin-top: 0px;
}

.header__burger {
  display: none;
  margin-top: 2px;
  width: 30px;
  height: 22px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

@media screen and (max-width: 767px) {
  .header__burger {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 10;
  }
}

.header__line {
  width: 100%;
  height: 2px;
  background-color: black;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media screen and (max-width: 767px) {
  .header__rotate1 {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    position: fixed;
    z-index: 10;
    top: 47px;
    right: 54px;
    z-index: 2;
  }
}

.header__split-lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .header__menu {
    display: block;
    background: #292929;
    position: fixed;
    z-index: 2;
    top: 0;
    right: -320px;
    min-width: 320px;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-transition: right 0.5s;
    transition: right 0.5s;
  }
}

.header__menu-trans {
  right: 0px;
  -webkit-transition: right 0.5s;
  transition: right 0.5s;
}

.header__menu-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(41, 41, 41, 0.6);
}

@media screen and (max-width: 767px) {
  .header__menu-backdrop_open {
    display: block;
  }
}

.header__link1 {
  color: #CDCDCD;
  margin: 28px 0px;
}

.header__link1:hover {
  color: #FAFAFA;
}

.header__link1:first-child {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
  padding-right: 0px;
  padding-bottom: 1px;
}

@media screen and (max-width: 767px) {
  .header__split-upper {
    margin-bottom: 136px;
    margin-top: 28px;
    margin-left: 10px;
  }
}

.header__logo-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .header__visibility {
    visibility: hidden;
  }
}

.header__white {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border-color: white;
  color: white;
}

.header__bgcwhite {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: white;
}

.friends__appCard {
  display: none;
}

.friends__block {
  display: block;
  position: relative;
  z-index: 1;
}

.friends__backdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(41, 41, 41, 0.6);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.friends__appbutton {
  margin-left: auto;
  margin-right: -43px;
  color: #292929;
}

@media screen and (max-width: 767px) {
  .friends__appbutton {
    margin-right: calc( -1.33929vw + -32.71429px);
  }
}

.friends__appflex-card {
  background-color: #FAFAFA;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  min-height: 500px;
}

@media screen and (max-width: 1279px) {
  .friends__appflex-card {
    max-width: calc( 52.73438vw + 225px);
    min-height: calc( 29.29688vw + 125px);
  }
}

@media screen and (max-width: 767px) {
  .friends__appflex-card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: calc( 87.05357vw + -38.57143px);
    min-height: calc( 0vw + 350px);
  }
}

.friends__app-img {
  min-width: 500px;
}

@media screen and (max-width: 1279px) {
  .friends__app-img {
    min-width: calc( 29.29688vw + 125px);
  }
}

@media screen and (max-width: 767px) {
  .friends__app-img {
    display: none;
  }
}

.friends__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.friends__app-descr {
  padding: 50px 20px 0 30px;
}

@media screen and (max-width: 1279px) {
  .friends__app-descr {
    padding-top: calc( 7.8125vw + -50px);
    padding-left: calc( 3.90625vw + -20px);
    padding-right: calc( 1.95312vw + -5px);
  }
}

@media screen and (max-width: 767px) {
  .friends__app-descr {
    padding: 10px 10px 0 10px;
    max-width: calc( 8.92857vw + 211.42857px);
  }
}

.friends__app-descr > *:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .friends__app-title, .friends__app-breed {
    text-align: center;
  }
}

.friends__app-ul {
  margin-left: 15px;
  list-style: disc;
}

.friends__app-ul li::marker {
  color: #F1CDB3;
  margin-right: 10px !important;
}

.main {
  background: #F6F6F6;
}

.main__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .main__wrapper {
    max-width: 1220px;
    padding: 0 10px;
  }
}

.main__content {
  padding-top: 83px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .main__content {
    padding-top: calc(0.087 * 100vw + 16.14px);
  }
}

.main__title {
  max-width: 400px;
  margin: 0 auto;
  letter-spacing: 0.06em;
  padding-bottom: 59px;
  font-size: 35px;
  line-height: 45.4px;
}

@media screen and (max-width: 1279px) {
  .main__title {
    padding-bottom: 29px;
  }
}

@media screen and (max-width: 767px) {
  .main__title {
    font-size: calc( 0.02232 * 100vw + 17.85px);
    line-height: calc(0.029 * 100vw + 22.71px);
    padding-bottom: calc(-0.0268 * 100vw + 49.57px);
  }
}

.main__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ([col] 270px)[4];
      grid-template-columns: repeat(4, [col] 270px);
  -ms-grid-rows: ([row] 435px)[2];
      grid-template-rows: repeat(2, [row] 435px);
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 30px;
}

@media screen and (max-width: 1279px) {
  .main__columns {
    -ms-grid-columns: ([col] 270px)[2];
        grid-template-columns: repeat(2, [col] 270px);
    -ms-grid-rows: ([row] 435px)[3];
        grid-template-rows: repeat(3, [row] 435px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: calc(0.31312 * 100vw - 200.47px);
            column-gap: calc(0.31312 * 100vw - 200.47px);
    row-gap: calc(0.05870 * 100vw - 15.0881px);
  }
}

@media screen and (max-width: 767px) {
  .main__columns {
    -ms-grid-columns: ([col] 270px)[1];
        grid-template-columns: repeat(1, [col] 270px);
    -ms-grid-rows: ([row] 435px)[3];
        grid-template-rows: repeat(3, [row] 435px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    row-gap: 30px;
  }
}

.main__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FAFAFA;
  border-radius: 9px;
  -webkit-animation: opacity  0.5s ease-in-out;
          animation: opacity  0.5s ease-in-out;
}

@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main__column:hover {
  outline: 5px solid #e1e1e1;
  background: #e1e1e1;
  cursor: pointer;
}

.main__column:hover .buttonWhite {
  background-color: #f6cbc456;
  -webkit-transition: 0,5s ease-in;
  transition: 0,5s ease-in;
}

.main__column:hover .buttonWhite:hover {
  background-color: #FDDCC4;
  -webkit-transition: 0,5s ease-in;
  transition: 0,5s ease-in;
}

@media screen and (max-width: 1279px) {
  .main__column8, .main__column7 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .main__column6, .main__column5, .main__column4 {
    display: none;
  }
}

.main__img {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  border-radius: 9px 9px 0px 0px;
}

.main__column-title {
  color: #545454;
  letter-spacing: 0.06em;
  margin-bottom: 5px;
  margin-left: 1px;
}

.main__column-title2 {
  -webkit-transform: translate(1px, 0px);
          transform: translate(1px, 0px);
}

.main__column-title7 {
  -webkit-transform: translate(1px, 0px);
          transform: translate(1px, 0px);
}

.main__column__btn {
  margin-bottom: 32px;
  color: #292929;
}

.main__buttons {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 100px;
}

@media screen and (max-width: 1279px) {
  .main__buttons {
    margin-top: 40px;
    padding-bottom: 76px;
  }
}

@media screen and (max-width: 767px) {
  .main__buttons {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    min-width: 300px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: calc(0.07143 * 100vw + 21.142px);
  }
}

.main__btn {
  margin: 0 10px;
  letter-spacing: 0.06em;
}

@media screen and (max-width: 767px) {
  .main__btn {
    margin: 0 0px;
  }
}

.main .main__btn-3, .main .main__btn-4, .main .main__btn-5 {
  color: #292929;
}

.arial {
  font-family: 'Arial', serif;
  font-weight: 400;
}

.georgia {
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
}

.text_44 {
  font-size: 44px;
  line-height: 57.2px;
}

.text_44five {
  font-size: 44px;
  line-height: 57.2px;
}

@media screen and (max-width: 767px) {
  .text_44five {
    font-size: calc(0.04241 * 100vw + 11.42857px);
    line-height: calc(0.0558 * 100vw + 14.142px);
  }
}

.text_35 {
  font-size: 35px;
  line-height: 45.4px;
}

.text_35five {
  font-size: 35px;
  line-height: 45.4px;
}

@media screen and (max-width: 767px) {
  .text_35five {
    font-size: calc(0.02232 * 100vw + 17.857px);
    line-height: calc(0.0290 * 100vw + 22.71428571px);
  }
}

.text_35sharp {
  font-size: 35px;
  line-height: 45.4px;
}

@media screen and (max-width: 767px) {
  .text_35sharp {
    font-size: 25px;
    line-height: 32px;
  }
}

.text_32 {
  font-size: 32px;
  line-height: 35.2px;
}

.text_20 {
  font-size: 20px;
  line-height: 23px;
}

.text_20five {
  font-size: 20px;
  line-height: 23px;
}

@media screen and (max-width: 767px) {
  .text_20five {
    font-size: calc( 1.11607vw + 11.42857px);
    line-height: calc( 1.33929vw + 12.71429px);
  }
}

.text_20sharp {
  font-size: 20px;
  line-height: 23px;
}

@media screen and (max-width: 767px) {
  .text_20sharp {
    font-size: 15px;
    line-height: 17px;
  }
}

.text_15 {
  font-size: 15px;
  line-height: 16.5px;
}

.text_15high {
  font-size: 15px;
  line-height: 24px;
}

.text_13 {
  font-size: 13px;
  line-height: 15px;
}

.text_12 {
  font-size: 12px;
  line-height: 18px;
}

.text_dark54 {
  color: #545454;
}

.text_dark4c {
  color: #C4C4C4;
}

.text_black {
  color: #000000;
}

.text_grey2b {
  color: #B2B2B2;
}

.text_greyCD {
  color: #CDCDCD;
}

.text_primary {
  color: #F1CDB3;
}

.text_lightFA {
  color: #FAFAFA;
}

.text_lightext {
  color: #FFFFFF;
}

.arial {
  font-family: 'Arial', serif;
  font-weight: 400;
}

.georgia {
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
}

.text_44 {
  font-size: 44px;
  line-height: 57.2px;
}

.text_44five {
  font-size: 44px;
  line-height: 57.2px;
}

@media screen and (max-width: 767px) {
  .text_44five {
    font-size: calc(0.04241 * 100vw + 11.42857px);
    line-height: calc(0.0558 * 100vw + 14.142px);
  }
}

.text_35 {
  font-size: 35px;
  line-height: 45.4px;
}

.text_35five {
  font-size: 35px;
  line-height: 45.4px;
}

@media screen and (max-width: 767px) {
  .text_35five {
    font-size: calc(0.02232 * 100vw + 17.857px);
    line-height: calc(0.0290 * 100vw + 22.71428571px);
  }
}

.text_35sharp {
  font-size: 35px;
  line-height: 45.4px;
}

@media screen and (max-width: 767px) {
  .text_35sharp {
    font-size: 25px;
    line-height: 32px;
  }
}

.text_32 {
  font-size: 32px;
  line-height: 35.2px;
}

.text_20 {
  font-size: 20px;
  line-height: 23px;
}

.text_20five {
  font-size: 20px;
  line-height: 23px;
}

@media screen and (max-width: 767px) {
  .text_20five {
    font-size: calc( 1.11607vw + 11.42857px);
    line-height: calc( 1.33929vw + 12.71429px);
  }
}

.text_20sharp {
  font-size: 20px;
  line-height: 23px;
}

@media screen and (max-width: 767px) {
  .text_20sharp {
    font-size: 15px;
    line-height: 17px;
  }
}

.text_15 {
  font-size: 15px;
  line-height: 16.5px;
}

.text_15high {
  font-size: 15px;
  line-height: 24px;
}

.text_13 {
  font-size: 13px;
  line-height: 15px;
}

.text_12 {
  font-size: 12px;
  line-height: 18px;
}

.text_dark54 {
  color: #545454;
}

.text_dark4c {
  color: #C4C4C4;
}

.text_black {
  color: #000000;
}

.text_grey2b {
  color: #B2B2B2;
}

.text_greyCD {
  color: #CDCDCD;
}

.text_primary {
  color: #F1CDB3;
}

.text_lightFA {
  color: #FAFAFA;
}

.text_lightext {
  color: #FFFFFF;
}

.button {
  font-family: 'Georgia';
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 22.1px;
  border: 2px solid #F1CDB3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F1CDB3;
  border-radius: 100px;
  height: 52px;
  padding: 0 43px;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
  cursor: pointer;
}

.buttonWhite {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.06em;
  border-radius: 100px;
  background-color: #FFFFFF;
  outline: 2px solid #F1CDB3;
  padding: 0 42px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttonWhite:hover {
  background-color: #FDDCC4;
  outline: 2px solid #FDDCC4;
  cursor: pointer;
}

.button-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 52px;
  min-height: 52px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #F1CDB3;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.button-small_hover {
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
}

.button-small_inactive {
  background-color: #CDCDCD;
  color: #B2B2B2;
  border-color: #CDCDCD;
}

.button-small_active {
  background-color: #F1CDB3;
  border-color: #F1CDB3;
}

.circle {
  min-width: 52px;
  min-height: 52px;
  max-width: 52px;
  max-height: 52px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #F1CDB3;
}

.circle:hover {
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
  cursor: pointer;
}

.circle_hover {
  background-color: #F1CDB3;
  cursor: auto;
}

.circle_hover:hover {
  background-color: #F1CDB3;
  border: 2px solid #F1CDB3;
  cursor: auto;
}

.circle_prev {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
}

.circle_prev:hover {
  background-color: unset;
  border: 2px solid #CDCDCD;
  cursor: auto;
}

.footer {
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), -webkit-gradient(linear, left bottom, left top, from(#211F20), to(#211F20));
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), linear-gradient(0deg, #211F20, #211F20);
  padding-top: 40px;
}

@media screen and (max-width: 1279px) {
  .footer {
    padding-top: 31px;
  }
}

.footer__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .footer__wrapper {
    max-width: 1220px;
    padding: 0 10px;
  }
}

.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1279px) {
  .footer__columns {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 767px) {
  .footer__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__container {
  margin-top: 17px;
  height: 234px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1279px) {
  .footer__container {
    margin-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .footer__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__container1 {
  max-width: 279px;
}

@media screen and (max-width: 767px) {
  .footer__container1 {
    max-width: 331px;
  }
}

.footer__container2 {
  max-width: 302px;
}

@media screen and (max-width: 767px) {
  .footer__container2 {
    margin-top: 16px;
    max-height: 222px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .footer__container2:first-child {
    text-align: center;
  }
}

.footer__title {
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .footer__title {
    font-size: calc( 0.01718 * 100vw + 19.5px);
    line-height: calc(0.029 * 100vw + 22.71px);
    text-align: center;
    margin: 0 auto;
  }
}

.footer__split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__split__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 max-content;
          flex: 0 0 max-content;
}

.footer__split__text {
  margin-left: 20px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.footer__split__img1 {
  position: relative;
  left: 0px;
  top: 1px;
}

.footer__split__img2 {
  position: relative;
  left: 0px;
  top: 1px;
}

.footer__split__img3 {
  position: relative;
  left: -1px;
}

.footer__split__img4 {
  position: relative;
  left: -1px;
}

.footer__split1 {
  margin: 40px 0 25px;
}

.footer__split2 {
  margin: 15px 0 0;
}

.footer__split3 {
  margin: 32px 0 32px;
}

@media screen and (max-width: 767px) {
  .footer__split4 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__img {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  height: 310px;
}

@media screen and (max-width: 1279px) {
  .footer__img {
    margin: 0 200px;
    margin-top: 64px;
  }
}

@media screen and (max-width: 767px) {
  .footer__img {
    margin: 0 0;
    max-width: calc(0.0892 * 100vw + 231.428px);
    max-height: calc(0.091518 * 100vw + 239.7142857px);
    margin-top: 37px;
  }
}

.footer .br2 {
  display: none;
}

@media screen and (max-width: 767px) {
  .footer__img1 {
    width: 100%;
    height: 100%;
  }
  .footer .br {
    display: none;
  }
  .footer .br2 {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */